form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
}

fieldset div {
    margin: 10px;
    padding: 10px;
}

fieldset label {
    display: block;
    margin-bottom: 5px;
}

fieldset textarea {
    resize: none;
}

input, textarea {
    padding: 5px;
    font-size: 15px;
}

#submit-button {
    background-color: limegreen;
    color: white;
}

#reset-button {
    background-color: mediumpurple;
    color: white;
}